body{
    margin:0;
    padding: 0;
}
div{
    position: relative;
}
img{
    height: 10%;
    width: 10%;
    float:right;
}
button{
    position: absolute;
    color: rgb(12, 11, 11);
    /* 设计按钮颜色透明 */
    background: rgba(0,0,0,0);
    /* transform: translateX(-50%); */
    /* transform: translateY(-50%); */
    font-size: 30px;
    text-align:center;
    border: 1px solid #dc0c47;
    /* 设计按钮的圆角度数 */
    border-radius: 10px 20px 0px 25px;
}
.but1{
    /* 定义过渡动画效果时间 */
    transition: all 0.3s;
}
/* 定义鼠标滑过事件 */
.but1:hover{
    /* 定义放大倍数 */
    transform: scale(1.3);
}

